
.App {
  text-align: center;
background-color: #373E40;
}
.App_bottom{
  display: flex;

  background-color: #373E40;
}
.App_signedout{
  align-items: center;
  margin-top: 20vh;
  border-radius: 9px;
  margin-left: 25vw;
  width: 50vw;
  height: 50vh;
  background-color: #ECBA82;
}
.App_signedout > button{
  background-color: #204E4A;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  margin-left: .2vw;
  margin-top: 0px;
  margin-bottom: .2vh;
  height: 10vh;
  font-size: 3vw;
  padding: 1vw;
  margin-top: 10vh;
  color: #ECBA82;
  border-color:#ECBA82;
  border-radius: 9px;
}
.App_signedout > h1{
  color: #204E4A;
  font-size: 4vw;
  margin-top: 10vh;
}
.App_signedout > button:hover{
  background-color: #204E4A;
  color: #ECBA82;
  border-color: #204E4A;
  cursor: pointer;

  transition: 1s;
}
.App_signedout > button{
  background-color: #373E40;
  color: lightgrey;
  border-radius: 2px;
 
}
.App_signedout{
  border-radius: 2px;
  background-color: #ECBA82;
  border: solid;
  border-color: #ECBA82;
  border-width: 2px;
 
}
